$border-color: #9B9B9B;
$name-color: #3E4D57;
$header-bg: #EFEFEF;
$footer-bg: #FCFCFC;
$text-color: #4A4A4A;
$subtitle-color: #707070;
$capture-color: #9F9F9F;

.profile {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Proxima Nova', sans-serif;
    color: $text-color;
    width: 420px;
    border: 1px solid $border-color;
    border-radius: 8px;
    overflow: hidden;

    &__icon {
        background: url('./img/icons.svg') no-repeat;
    }

    &__stars-holder {
        margin-top: 4px;
    }

    &__star {
        width: 17px;
        height: 15px;
        display: inline-block;
        background-position: 0 0;

        &_active {
            background-position: -18px 0px
        }
    }

    &__like {
        cursor: pointer;
        width: 24px;
        height: 21px;
        display: inline-block;
        background-position: -1px -17px;

        &_active {
            background-position: -31px -18px;
        }
    }

    &__title {
        font-size: 27px;
        line-height: 26px;
        font-weight: 400;
        margin: 0;
    }

    &__capture {
        font-size: 14px;
        color: $capture-color;
    }

    &__number {
        font-size: 26px;
    }

    &__sub-title {
        font-size: 17px;
        color: $subtitle-color;
        margin: 0;
    }

    &__name {
        color: $name-color;
        margin-bottom: 7px;
        margin-top: 0;
        font-size: 24px;
        font-weight: 600;
    }

    &__name,
    &__sub-title,
    &__capture,
    &__number {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__body {
        padding: 38px 38px 36px;
        text-align: center;
    }

    &__picture {
        border: 1px solid $border-color;
        border-radius: 50%;
        display: inline-block;
        width: 105px;
        height: 105px;
        background-size: cover;
        background-position: center;
        margin-bottom: 11px;
    }

    &__header {
        background-color: $header-bg;
        justify-content: space-between;
        padding: 34px 26px 28px 34px;
        border-bottom: 1px solid $border-color;
    }

    &__footer {
        border-top: 1px solid $border-color;
        background-color: $footer-bg;
        padding: 19px 6px 22px 9px;
        justify-content: space-between;
    }

    &__footer-section {
        justify-content: space-between;
        text-align: center;
        flex-direction: column;
        flex-basis: 30%;
        max-width: 30%;
        min-width: 30%;
    }

    &__header,
    &__footer,
    &__footer-section {
        display: flex;
    }
}